*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
#logo{
	text-align: center;
}
#navigation{
	background: #4b4276;
	height: 800px;
	width: 300px;
	float: left;
}
#navigation ul li{
	padding: 50px;
	position: relative;
	top: 120px;
}
#navigation ul li a{
	color: #bdb8b7;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	text-align: center;
}
#navigation ul li:hover{
	background: #594f8d;
}
#navigation ul li:hover a{
	color: white;
}
#main{
	background-color: #eeee;
	height: 800px;
	overflow: scroll;
}
.firstHeader{
	position: relative;
	top: 50px;
	display: block;
	text-align: center;
	text-transform: uppercase;
}
.subtitle1{
	position: relative;
	top: 80px;
	display: block;
	text-align: center;
	text-transform: uppercase;
}
.subtitle2{
	position: relative;
	top: 120px;
	display: block;
	text-align: center;
	text-transform: uppercase;
}
.firstPic{
	position: relative;
	display: inline-block;
	top: 98px;
	left: 185px;
	float: left;
	width: 270px;
	height: 270px;
}
.secondPic{
	position: relative;
	display: inline-block;
	top: 98px;
	left: 185px;
	float: left;
	width: 290px;
	height: 290px;
}
.thirdPic{
	position: relative;
	display: inline-block;
	top: 98px;
	left: 185px;
	width: 300px;
	height: 300px;
}
.paragraph{
	position: relative;
	top: 95px;
	left: 16%;
	max-width: 800px;
	font-size: 20px;
	text-align: justify;
	font-weight: normal;
}
.paragraph2{
	position: relative;
	top: 140px;
	left: 15%;
	max-width: 800px;
	font-size: 20px;
	text-align: justify;
}
.paragraph3{
	position: relative;
	top: 160px;
	left: 15%;
	width: 800px;
	font-size: 20px;
	text-align: justify;
}
.paragraph4{
	position: relative;
	bottom: 26%;
	left: 43%;
	width: 600px;
	font-size: 20px;
	text-align: justify;
}
#footer{
	background-color: gray;
	height: 100px;
}
#copyright{
	display: inline-block;
	padding: 40px 0 0 45%;
}
.table{
	position: relative;
	top: 150px;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

      th {
        padding: 18px;
      }

      td {
        padding: 12px;
      }

      th,
      td {
        border: solid 1px #e6e6e6;
      }

      tr {
        background-color: #EDEDED;
      }

      tr.even {
        background-color: #F7F7F7;
      }

      #heading {
        background-color: #02AD8B;
        color: white;
      }